@tailwind base;
@tailwind components;
@tailwind utilities;

.dropTextShadow {
    text-shadow: #47003c 1px 0 10px;
}

.bgImageCustom {
    background: url("../public/images/otherPages/laptop/Standard_Background_Black.png")
        no-repeat center center;

    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: "libreBasItalic";
    src: url("../public/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
}

@font-face {
    font-family: "antonRegular";
    src: url("../public/fonts/Anton/Anton-Regular.ttf");
}
